.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 #000070;
    margin: 10px;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 12px 24px #000070;
}
.card-body {
    background-color: #4527a0;
    padding: 10px;
    position: relative;
    width: 20rem;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 20rem;
}

.card-title {
    font-weight: bold;
    font-size: large;
}

.card-footer {
    border: none;
    background-color: #7953d2;
    padding: 10px;
}

.btn-primary {
    background-color: #000070;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.btn-secondary {
    background-color: #5e92f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.fixed {
    position: fixed;
}

.h-full-margin {
    height: calc(100vh - 3rem);
}

.w-full-margin {
    width: calc(100vw - 3rem);
}

@font-face {
    font-family: 'GT Pressura Trial Lt';
    src: url('GT-Pressura-Light-Trial.woff2');
}

.monospaced {
    font-family: 'GT Pressura Trial Lt', sans-serif;
}

.new-text-amber {
    color: rgb(254 243 199);
    text-shadow: 0 1px rgb(253 230 138), 0 2px rgb(252 211 77), 0 3px rgb(252 211 77), 0 4px rgb(251 191 36), 0 5px rgb(251 191 36), 0 3px 5px rgba(0, 0, 0, 0.6);
}

.new-text-amber-dark {
    color: rgb(254 243 199);
    text-shadow: 0 1px rgb(253 230 138), 0 2px rgb(252 211 77), 0 3px rgb(252 211 77), 0 4px rgb(251 191 36), 0 5px rgb(251 191 36), 0 5px 6px rgba(0, 0, 0, 0.8);
}

.new-text-aqua {
    color: rgb(207 250 254);
    text-shadow: 0 1px rgb(165 243 252), 0 2px rgb(103 232 249), 0 3px rgb(103 232 249), 0 4px rgb(34 211 238), 0 5px rgb(34 211 238), 0 3px 8px rgba(0, 0, 0, 0.8);
}

.new-text-aqua-dark {
    color: rgb(207 250 254);
    text-shadow: 0 1px rgb(165 243 252), 0 2px rgb(103 232 249), 0 3px rgb(103 232 249), 0 4px rgb(34 211 238), 0 5px rgb(34 211 238), 0 5px 6px rgba(0, 0, 0, 0.8);
}

.new-box-aqua {
    background-color: rgb(165 243 252);
    box-shadow: 0 1px rgb(103 232 249), 0 2px rgb(34 211 238), 0 3px rgb(34 211 238), 0 4px rgb(6 182 212), 0 5px rgb(6 182 212), 0 7px 7px rgba(0, 0, 0, 0.6);
}

.h-scale-110:hover {
    transform: scale(1.1);
}
.a-scale-110:active {
    transform: scale(1.1);
}
.f-scale-110:focus {
    transform: scale(1.1) translateX(11px);
}
.f-translate-x-10:focus {
}

.new-button-aqua {
    background-color: rgb(207 250 254) !important;
    box-shadow: 0 1px rgb(165 243 252), 0 2px rgb(103 232 249), 0 3px rgb(103 232 249), 0 4px rgb(34 211 238), 0 5px rgb(34 211 238), 0 3px 5px rgba(0, 0, 0, 0.6);
}

.new-button-amber {
    background-color: rgb(252 211 77) !important;
    box-shadow: 0 1px rgb(251 191 36), 0 2px rgb(245 158 11), 0 3px rgb(245 158 11), 0 4px rgb(217 119 6), 0 5px rgb(217 119 6), 0 7px 7px rgba(0, 0, 0, 0.6);
}

.new-box-ffox {
    background-color: #d619cd;
    box-shadow: 0 1px #ba0fb2, 0 2px #ba0fb2, 0 3px #a90ea2, 0 4px #a90ea2, 0 5px #990a92, 0 6px #990a92, 0 8px 7px rgba(0, 0, 0, 0.6);
}

.border-cyan-400 {
    border-color: rgb(207 250 254);
}

.new-text-ffox {
    color: #ffbf00;
    text-shadow: 0 1px #ffa600, 0 2px #ffa600, 0 3px #ff8800, 0 4px #ff8800, 0 5px #ff6200, 0 6px #ff6200, 0 8px 7px rgba(0, 0, 0, 0.6);
}

.new-text-ffox-sm {
    color: #ffbf00;
    text-shadow: 0 1px #ff8800, 0 2px #ff8800, 0 3px #ff6200, 0 4px #ff6200, 0 6px 7px rgba(0, 0, 0, 0.6);
}

.new-button-ffox {
    background-color: #ffbf00;
    box-shadow: 0 1px #ffa600, 0 2px #ffa600, 0 3px #ff8800, 0 4px #ff8800, 0 5px #ff6200, 0 6px #ff6200, 0 8px 7px rgba(0, 0, 0, 0.6);
}

.bottom-center {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}