.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.wide-card-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.card {
    box-shadow: 0 4px 8px 0 #000070;
    margin: 10px;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 12px 24px #000070;
    transform: scale(1.05);
}
.card-body {
    background-color: #4527a0;
    padding: 10px;
    position: relative;
    width: 20rem;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 20rem;
}

.card-title {
    font-weight: bold;
    font-size: large;
}

.card-footer {
    border: none;
    background-color: #7953d2;
    padding: 10px;
}

.btn-primary {
    background-color: #000070;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.btn-secondary {
    background-color: #5e92f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.new-box-aqua {
    background-color: #5e92f3;
    box-shadow: 0 1px #5e92f3, 0 2px #003c8f, 0 3px #5e92f3, 0 4px #003c8f, 0 5px #000070, 0 7px 7px #4527a0;
}

.new-input-aqua {
    background-color: #5e92f3;
    box-shadow: 0 1px #5e92f3, 0 2px #003c8f, 0 3px #5e92f3, 0 4px #003c8f, 0 5px #000070, 0 7px 7px #4527a0;
    padding: 10px;
    margin-left: 10px;
    height: 50px;
    font-size: large;
}

.wide-card {
    box-shadow: 0 4px 8px 0 #000070;
    margin: 15px auto;
    padding: 15px;
    transition: 0.3s;
    background-color: #4527a0;
    border-radius: 15px;
    width: 50%;
}

/* a key for what emojis mean */
.emoji-key {
    font-size: 1.5rem;
    margin: 0 0 0 10px;
}

/* make wide-card bigger on mouse-over without changing the shadow */
.wide-card:hover {
    box-shadow: 0 12px 24px #000070;
    transform: scale(1.05);
}

.w-100pc {
    width: 100%;
}

.h-100pc {
    height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}